*.project
*.classpath

*/*.project
*/*.classpath
*/.settings/

.settings/
.pydevproject
.idea/
*/build/
*/target/
*~
*.iml
/build.xml
/caiwu-core-client/bin
/caiwu-core-consumer/bin
/caiwu-core-interface/bin
/caiwu-core-server/bin
